<div id="contact" class="container">
  <div class="content">
    <div class="title">
      <div
        [ngClass]="{
          'main-title-tablet-portrait': isTabletPortrait,
          'main-title-tablet-landscape': isTabletLandscape,
          'main-title-handset-portrait': isHandsetPortrait,
          'main-title-handset-landscape': isHandsetLandscape
        }"
        class="main-title"
        i18n
      >
        {{ "Contact" | uppercase }}
      </div>
      <div
        [ngClass]="{
          'sub-title-tablet-portrait': isTabletPortrait,
          'sub-title-tablet-landscape': isTabletLandscape,
          'sub-title-handset-portrait': isHandsetPortrait,
          'sub-title-handset-landscape': isHandsetLandscape
        }"
        class="sub-title"
        i18n
      >
        Vous avez une question, une proposition ou vous voulez simplement dire
        bonjour ? Contactez-moi.
      </div>
    </div>
    <form
      [ngClass]="{ 'form-portrait': isTabletPortrait || isHandsetPortrait }"
      class="form"
      [formGroup]="emailForm"
      (ngSubmit)="onSubmit(formDirective)"
      #formDirective="ngForm"
    >
      <div
        [ngClass]="{
          'contact-info-portrait': isTabletPortrait || isHandsetPortrait
        }"
        class="contact-info"
      >
        <mat-form-field
          [ngClass]="{
            'contact-input-portrait': isTabletPortrait || isHandsetPortrait
          }"
          class="contact-input"
        >
          <mat-label i18n>Nom</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="emailForm.get('name')?.hasError('required')" i18n>
            Le nom est requis
          </mat-error>
        </mat-form-field>
        <mat-form-field
          [ngClass]="{
            'contact-input-portrait': isTabletPortrait || isHandsetPortrait
          }"
          class="contact-input"
        >
          <mat-label i18n>Adresse e-mail</mat-label>
          <input matInput formControlName="email" />
          <mat-error *ngIf="emailForm.get('email')?.hasError('required')" i18n>
            L'adresse e-mail est requise
          </mat-error>
          <mat-error *ngIf="emailForm.get('email')?.hasError('email')" i18n>
            Format d'e-mail invalide
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field class="text-area">
        <mat-label i18n>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-error *ngIf="emailForm.get('message')?.hasError('required')" i18n>
          Le message est requis
        </mat-error>
      </mat-form-field>
      <div
        [ngClass]="{
          'send-button-portrait': isTabletPortrait || isHandsetPortrait
        }"
        class="send-button"
      >
        <button
          mat-stroked-button
          [disabled]="emailForm.invalid"
          color="primary"
          i18n
        >
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
