<div id="about" class="container" spyTarget="target-2">
  <div class="content">
    <div class="title">ABOUT ME</div>
    <div class="subtitle">
      I'm a &nbsp;
      <div class="accent">Software Engineer</div>
      , &nbsp;
      <div class="accent">Frontend Developer</div>
      &nbsp; and &nbsp;
      <div class="accent">Angular expert</div>
    </div>
    <div class="description">
      Graduating with a Master's in Computer Engineering in 2024, I bring two
      years of practical experience as a web developer at <b>Capgemini</b>.
      During this period, I served as a <b>Full Stack Developer</b> for an
      <b>aerospace</b> company in Toulouse, specializing in <b>Angular</b> on
      the frontend and <b>Node.js</b> on the backend. My responsibilities
      included managing databases with MongoDB and MariaDB, implementing
      containerization using Docker, and orchestrating <b>DevOps</b> deployments
      with OpenShift Kubernetes clusters. <br />
      <br />
      Concurrently, I've been active as a <b>freelance developer</b>, creating websites
      and web apps, and contributing to open-source projects, showcasing a
      commitment to continuous learning and practical application of my skills.
    </div>
  </div>
</div>
