<div id="about" class="container">
  <div class="title">ABOUT ME</div>
  <div class="description">
    Graduating with a Master's in Computer Engineering in 2024, I bring two
    years of practical experience as a web developer at Capgemini. During this
    period, I served as a Full Stack Developer for an aerospace company in
    Toulouse, specializing in Angular on the frontend and Node.js on the
    backend. My responsibilities included managing databases with MongoDB and
    MariaDB, implementing containerization using Docker, and orchestrating
    deployments with OpenShift Kubernetes clusters. Notably, I played a key
    role in the success of a mission-critical project. Concurrently, I've been
    active as a freelance developer, creating websites and web apps, and
    contributing to open-source projects, showcasing a commitment to continuous
    learning and practical application of my skills.
  </div>
</div>
