.container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content {
  padding: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-size: 45px;
  font-weight: 700;
  color: var(--gray-900);
  height: 34px;
  border-bottom: solid 2px;
  letter-spacing: 3px;
  animation: fadeSlideLeft 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
}

.subtitle {
  max-width: 1047px;
  font-size: 35px;
  line-height: 40px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.accent {
  font-weight: 600;
  &:nth-child(1) {
    color: var(--secondary-color);
  }
  &:nth-child(2) {
    color: var(--accent-color);
  }
  &:nth-child(3) {
    color: var(--accent-light);
  }
}

.description {
  max-width: 1047px;
  text-align: justify;
  margin: 20px 0 30px;
  font-size: 25px;
  line-height: 34px;
  color: var(--gray-700);
}

@keyframes fadeSlideLeft {
  0% {
    transform: translatex(-400px);
  }
  100% {
    transform: translatex(0);
  }
}
