<div id="about" class="container">
  <div class="left-content">
    <div class="title" i18n>À PROPOS DE MOI</div>
    <div class="subtitle" i18n>
      Je suis un &nbsp;
      <div class="accent">Ingénieur Logiciel</div>
      , &nbsp;
      <div class="accent">Développeur Frontend</div>
      &nbsp; et &nbsp;
      <div class="accent">Expert Angular</div>
    </div>
    <div class="description" i18n>
      Diplômé d'un Master en Génie Informatique en 2024, j'apporte deux années
      d'expérience pratique en tant que développeur web chez <b>Capgemini</b>.
      Pendant cette période, j'ai travaillé en tant que
      <b>Développeur Full Stack</b> pour une entreprise <b>aérospatiale</b> à
      Toulouse, spécialisé dans <b>Angular</b> en frontend et <b>Node.js</b> en
      backend. Mes responsabilités incluaient la gestion de bases de données
      avec MongoDB et MariaDB, la mise en œuvre de la conteneurisation avec
      Docker, et l'orchestration des déploiements <b>DevOps</b> avec des
      clusters Kubernetes OpenShift. <br />
      <br />
      Parallèlement, j'ai été actif en tant que <b>développeur indépendant</b>,
      créant des sites web et des applications web, et contribuant à des projets
      open source, démontrant un engagement envers l'apprentissage continu et
      l'application pratique de mes compétences.
    </div>
  </div>
  <div class="right-content">
    <div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png"
        alt="Angular logo"
      />
    </div>
    <div>
      <img
        class="img-2"
        src="https://companieslogo.com/img/orig/CAP.PA-9b4110b0.png?t=1651902188"
        alt="Capgemini logo"
      />
    </div>
    <div>
      <img
        class="img-3"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/2109px-Kubernetes_logo_without_workmark.svg.png"
        alt="Kubernetes logo"
      />
    </div>
    <div>
      <img
        class="img-4"
        src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Docker_%28container_engine%29_logo_%28cropped%29.png"
        alt="Docker logo"
      />
    </div>
    <div>
      <img
        class="img-5"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Typescript.svg/2048px-Typescript.svg.png"
        alt="Typescript logo"
      />
    </div>
  </div>
</div>
