<div class="main">
  <div class="left-title">
    <div class="left-content">
      <div class="letter d-1">Y</div>
      <div class="letter d-2">v</div>
      <div class="letter d-3">e</div>
      <div class="letter d-4">s</div>
    </div>
    <div class="left-content">
      <div class="letter d-5">M</div>
      <div class="letter d-6">o</div>
      <div class="letter d-7">l</div>
      <div class="letter d-8">i</div>
      <div class="letter d-9">n</div>
      <div class="letter d-10">a</div>
    </div>
    <div class="left-description">Web Developer</div>
  </div>

  <div class="right-title">
    <img
      class="portrait-image"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Master_of_Fl%C3%A9malle_-_Portrait_of_a_Fat_Man_-_Google_Art_Project_%28331318%29.jpg/1200px-Master_of_Fl%C3%A9malle_-_Portrait_of_a_Fat_Man_-_Google_Art_Project_%28331318%29.jpg"
      alt=""
    />
  </div>
</div>
<div class="arrow">
  <span></span>
  <span></span>
  <span></span>
</div>
