.container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.title {
  padding-top: 130px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 3px;
  color: var(--gray-900);
}

.title-tablet-landscape {
}
.title-handset-landscape {
}
.title-tablet-portrait {
  font-size: 40px;
}
.title-handset-portrait {
  font-size: 35px;
}

.description {
  margin: 20px 30px 30px;
  font-size: 18px;
  text-align: center;
  color: var(--gray-700);
}

.card {
  margin: 15px 30px;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 51px -26px rgba(0, 0, 0, 1);
  }
}

.card-title {
  padding: 5px 0;
  font-size: 20px;
  letter-spacing: 2.2px;
  font-weight: 600;
  color: var(--gray-700);
}
.card-title-tablet-portrait {
  font-size: 17px;
  letter-spacing: 2px;
}
.card-title-handset-portrait {
  font-size: 15px;
  letter-spacing: 2px;
}
.card-title-tablet-landscape {
}
.card-title-handset-landscape {
}

.card-project-url {
  color: var(--secondary-color);
  font-weight: 500;
}
.card-project-url-tablet-portrait {
  font-size: 14px;
}
.card-project-url-handset-portrait {
  font-size: 12px;
}
.card-project-url-tablet-landscape {
}
.card-project-url-handset-landscape {
}

.card-content {
  padding: 35px 22px;
}

.content {
  width: 70dvw;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.content > mat-card {
  width: 400px;
}

.flex {
  width: 425px;
}
.flex-tablet-landscape {
  width: 425px;
}
.flex-handset-landscape {
  width: 425px;
}
.flex-tablet-portrait {
  width: 380px;
}
.flex-handset-portrait {
  width: 90dvw;
}

a {
  text-decoration: none; /* no underline */
  padding: 0;
  &:visited {
    text-decoration: none;
  }
}
.arrow {
  display: flex;
  justify-content: center;
}

.arrows {
  cursor: pointer;
  padding: 20px 60px 85px;
  transition: all 1s;
  &:hover {
    scale: 1.5;
  }
  &:hover > span {
    border-bottom: 8px solid var(--secondary-color);
    border-right: 8px solid var(--secondary-color);
  }
}

.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 8px solid var(--primary-color);
  border-right: 8px solid var(--primary-color);
  transform: rotate(45deg);
  transition: all 1s;
  margin: -10px;
  opacity: 0;
  animation: animate 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite 2.8s;
}
.arrow span:nth-child(2) {
  animation-delay: 2.6s;
}

.arrow span:nth-child(3) {
  animation-delay: 2.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}